/*  base 公共基础 */
html, body{ 
    margin:0; height:100%; 
    font-family: @family;
    overflow-x: hidden;
    color:@color_text;
}
iframe{
    width:100%;
    height: 100%;
    border: none;
    color: white;
}
a{
    box-sizing:border-box;
    text-decoration: none !important;
    color: @color_main;
    cursor: pointer;
}
ul{
    margin:0;
    padding:0;
    list-style: none;
}

p{
    margin:0; 
}
label,span{
    color: @color_text;
    font-size: 12px;
} 