/* grid 栅格 */
.lg-grid-container{
    padding:(@gap / 2);
    margin-top: -(@gap / 2);
    margin-bottom: -(@gap / 2);
}

.lg-grid-row{ 
    margin-left: -(@gap / 2);
    margin-right: -(@gap / 2);
    margin-top:(@gap / 2);
    margin-bottom:(@gap / 2);
    &:before,&:after{
        content:' ';
        display: table;
        clear: both;
    } 
}
 
.lg-grid-loop(@n, @i:1) when (@i <= @n) {
    .lg-grid-@{i} {
        position: relative;
        box-sizing:border-box;
        float: left;
        padding:0 (@gap / 2);
        min-height: 22px;
        width: percentage((@i/@n)); 
    }
    .lg-grid-offset-@{i} {
        margin-left: percentage((@i/@n)); 
    }
    .lg-grid-loop(@n, (@i + 1));
}

.lg-grid-loop(@column);