.lg-s-wrapper{
    background-color: @backcolor;
    width: 100%;
    height: 100%;
    overflow-x:hidden; 

    .lg-s-head{
        width:100%;
        height: @navH; 
    }
    .lg-s-content{
        background-color: @backcolor;
        position: absolute;
        top: @navH;
        right: 0;
        left: 0;
        bottom: 0;
        .lg-s-content-l{
            background-color: @backcolor_l;
            width: @menuW;
            height: 100%;
            position: absolute;
        }
        .lg-s-content-r{
            background-color: @backcolor; 
            margin-left: @menuW; 
            height: 100%;
            overflow: auto;
            padding-left: 10px;
        } 
    } 
}

.lg-s-body{
    background-color: white;
    padding:0 10px;
    margin-top:@gap;
    border-radius: 3px;
    min-height: 100%;

    .lg-s-body-hd{
        clear: both;
        margin:0 10px;
        padding:5px 0;
        border-bottom:1px solid @basecolor;
    }
    .lg-s-body-by{
        clear: both;
        margin:0 10px;  
    }
    .lg-s-body-tl{
        clear: both;
        margin:0 10px; 
        padding:10px 0;
        border-top:1px solid @bordercolor;
    }
    .lg-s-blank{
        height: 10px;
        width: 100%;
        clear: both;
    }
}

.lg-s-pull-r{
    float: right;
}
.lg-s-pull-l{
    float: left;
}