/* ------- color -------
*color:[titlecolor:标题(黑),subcolor:副标题/内容(深灰),tipcolor:次级文本(浅灰),bordercolor:边框]
*color:[backcolor:页面背景,backcolor_l:浅色背景,basecolor:页头(紫色),linkcolor:按钮链接(蓝色),hovercolor:划过颜色(深蓝)]
*color:[maincolor:高亮(橙色),dangercolor:警示色,successcolor:健康(绿色)]
*/
@titlecolor:#333;
@subcolor:#666;
@tipcolor:#999;
@bordercolor:#e1e1e1;
@backcolor:#ededed;
@backcolor_l:#f8f8f8;
@basecolor:#464e78;
@linkcolor:#5986e1;
@hovercolor:#3e6bc5;
@maincolor:#ff8447;
@dangercolor:#d05538;
@successcolor:#8bb455;

/* ------- font -------*/
@family:Arial,"Microsoft Yahei","Helvetica Neue","Hiragino Sans GB",sans-serif; 
@font_size_xL:18px;
@font_size_L:16px;
@font_size_M:14px;
@font_size_S:12px;
@font_height_L:40px;
@font_height_M:22px;
@font_height_S:18px;

/* ------- gap -------*/
@gap:30px;

/* ------- structure -------*/
@navH:80px;/* 导航高度 */
@menuW:200px;/* 菜单宽度 */
@navTcolor:white;/* 导航文字颜色 */