/* ------- color -------*/
@color_main:#5986e1;/*蓝*/
@color_mainly:#3e6bc5;/*深蓝*/
@color_highlight:#ff8447;/*橙*/
@color_danger:#d05538;/*红*/
@color_success:#8bb455;/*绿*/ 
@color_sys:#464e78;/*紫*/
@color_title:#333;/*深灰*/
@color_text:#666;/*灰*/
@color_subtext:#999;/*浅灰*/
@color_border:#e1e1e1;/*灰*/
@color_bg:#ededed;/*灰黄*/
@color_bglight:#f8f8f8;/*浅灰黄*/


/* ------- font -------*/
@family:Arial,"Microsoft Yahei","Helvetica Neue","Hiragino Sans GB",sans-serif; 
@font_size_xL:18px;
@font_size_L:16px;
@font_size_M:14px;
@font_size_S:12px;
@font_height_L:40px;
@font_height_M:22px;
@font_height_S:18px;

/* ------- grid -------*/
@gap:30px;
@column:12;

/* ------- structure -------*/
@navH:60px;/* 导航高度 */
@menuW:200px;/* 菜单宽度 */
@navTcolor:white;/* 导航文字颜色 */