.lg-dropdown {
    position: relative;
    display: inline-block;
    & > ul {
        display: none;
        width: 100%;
        position: absolute;
        top: 100%;
        width: auto;
        overflow: hidden;
        li{
            width: 100%;
            box-sizing:border-box;
        }
    }
    &:hover > ul {
        display: block;
        border: 1px solid @color_border;
        list-style: none;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: white;
        z-index: 1;
        float: left;
        li {
            border-bottom: 1px solid @color_border;
            padding: 4px 8px;
            font-size: @font_size_S;
            line-height: @font_height_M;
            white-space: nowrap;
            float: left;
            &:hover {
                color: @color_highlight;
            }
            &:last-child {
                border-bottom: none;
            }
        }
    }
}
