.lg-tab {
    display: block;
    list-style: none;
    height: @font_height_L;
    line-height: @font_height_L;
    background-color: rgb(247, 249, 254);
    font-size: @font_size_L;
    border-bottom: 1px solid @color_main;
    box-sizing: content-box;
    .lg-tab-li {
        float: left;
        color: @color_title;
        padding: 0 20px;
        position: relative;
        cursor: pointer;
        &:after {
            content: '';
            border-right: 1px solid @color_border;
            height: 36%;
            position: absolute;
            top: 32%;
            left: 0;
        }
        &:first-child:after {
            height: 0;
        }
    }
    .lg-active,.lg-fn-active,.active {
        background-color: white;
        border: 1px solid @color_main;
        border-bottom: none;
        color: rgb(105, 115, 169);
        font-weight: bold;
        &:after {
            height: 0;
        }
    }
    .lg-active + .lg-tab-li:after {
        height: 0;
    }
}

.lg-tab-body {
    border: 1px solid @color_main;
    border-top: none;
    padding:5px;
}
