.lg-table {
    width: 100%;
    border-collapse: collapse;
    line-height: 36px;
    text-align: center;
    color: @color_text;
    thead { 
        tr {
            background-color: @color_sys ; 
            color: white;
            &.lg-color-danger-bg{
                background-color: @color_danger; 
            }
            &.lg-color-success-bg{
                background-color: @color_success; 
            }
            &.lg-color-plain-bg{
                background-color: @color_border; 
            }
            &.lg-color-highlight-bg{
                background-color: @color_highlight; 
            }
        }
        th {
            font-weight: normal;
            position: relative;
            text-align: center;
            border: none;
            &.lg-asc {
                cursor: pointer;
                &:after {
                    content: '\e644';
                    font-family: iconfont !important;
                    position: absolute;
                    top: -1px;
                    font-size: 12px;
                    margin: 0 5px;
                    color: @color_bglight;
                }
            }
            &.lg-desc {
                cursor: pointer;
                &:after {
                    content: '\e64a';
                    font-family: iconfont !important;
                    position: absolute;
                    top: 2px;
                    font-size: 20px;
                    margin: 0 5px;
                    color: @color_bglight;
                }
            }
        }
    }
    tr{
        border:none;
    }
    tr:nth-child(2n) {
        background-color: @color_bglight;
    }
    td {
        border: none;
    } 
    a.lg-dropdown {
        color: @color_text;
        padding: 0 5px;
        cursor: pointer;
        position: relative;
        display: inline-block; 
        ul {
            display: none;
        }
        &:hover {
            ul {
                display: block;
                border: 1px solid @color_border;
                list-style: none;
                position: absolute;
                top: 100%;
                left: 0;
                background-color: white;
                z-index: 1;
                float: left;
                li {
                    border-bottom: 1px solid @color_border;
                    padding: 4px 8px;
                    font-size: @font_size_S;
                    line-height: @font_height_M;
                    white-space: nowrap;
                    float: left;
                    &:hover {
                        color: @color_highlight;
                    }
                    &:last-child {
                        border-bottom: none;
                    }
                }
            }
        }
    }
}

.lg-table-hd {
    &:extend(.lg-table);
    background-color: @color_sys;
    color: white;
}
