.lg-tag{
    border-radius: 13px;
    background-color: @color_border;
    color:@color_text;
    padding:4px 12px;
    margin-right: 15px;
    cursor: pointer;
    display: inline;
    font-size: @font_size_M;
    position: relative;
    white-space: nowrap;
    &.active,&.lg-fn-active{ 
        color:@color_highlight;
        background-color: rgb(255,240,219);
    }
    &.lg-diy{
        &:after{
            content:'\e661';
            font-family: "iconfont" !important;
            color: red;
            position: absolute;
            top: -5px;
            right: -5px;
        }
    } 
} 
.lg-tag-add{ 
    display: inline-block;
    &:before{
        content:'\e670';
        font-family: "iconfont" !important;
        color: @color_border; 
        font-size: 25px;
        vertical-align: sub;
        margin-right: 5px;
    }  
    .icon-zhengque{
        color:@color_success; 
    }
    .icon-cuowu{
        color:@color_highlight; 
    }
} 