/* toast & bubble & error & progress*/
/* toast */
.lg-toast{
    display: inline-block;
    max-width: 232px;
    padding:15px 20px;
    margin:10px;
    border-radius: 4px;
    box-shadow: 2px 2px 12px 2px @color_border;
    background-color: white;
}
/* bubble */
.lg-toast,
.lg-bubble,
.lg-bubble-top,
.lg-bubble-bottom {
  display: inline-block;
  max-width: 232px;
  padding: 15px 20px;
  margin: 10px;
  border-radius: 4px;
  box-shadow: 2px 2px 12px 2px #e1e1e1;
  background-color: white;
}

.lg-bubble,
.lg-bubble-top {
  color: #ff8447;
  position: relative;
  box-shadow: 4px 4px 14px 1px #e1e1e1;
}
.lg-bubble:after,
.lg-bubble-top:after {
  content: '';
  border: 8px solid transparent;
  border-top: 8px solid white;
  position: absolute;
  bottom: -16px;
  right: 50%;
  margin-right: -8px;
}
.lg-bubble-bottom {
  color: #ff8447;
  position: relative;
  box-shadow: -4px -4px 14px 1px #e1e1e1;
}
.lg-bubble-bottom:after {
  content: '';
  border: 8px solid transparent;
  border-bottom: 8px solid white;
  position: absolute;
  top: -15px;
  right: 50%;
  margin-right: -8px;
}
/* error */
.lg-error{
    color: @color_highlight;
}
.lg-error-b{
    color: @color_highlight;
    display: block;
    line-height: 30px;
}
input:focus + .lg-error {
    display: none;
}
input:focus + .lg-error-b{
    visibility: hidden;
}
/* progress */
.lg-progress-loop(@n, @i:0) when (@i <= @n) {
    .lg-@{i} {
        position: relative;
        overflow: hidden;
        height: 100%;
        width: 100%;
        border-radius: 15px;
        background-color: @color_bg;
        &:after{
            content:'';
            background-color: @color_main;
            height: 100%;
            position: absolute;
            width: percentage((@i/100));
        } 
    }
    .lg-progress-loop(@n, (@i + 1));
}
.lg-progress{
    height: 30px;
    min-width: 200px; 
    margin:0 20px 25px 20px; 
    display: inline-block; 
    position: relative;
    .lg-progress-loop(100);

    & > label{
        position: absolute;
        bottom: -20px;
        width: 100%; 
        text-align: center;
        margin-bottom: 0;
    }
}

 