.lg-title{
    font-size: @font_size_L;
    line-height: @font_height_L; 
    color: @titlecolor;
    display: inline;
    margin-right: @gap; 
}
.lg-title-main{
    &:extend(.lg-title); 
    color:@basecolor;
    font-size: @font_size_xL;
}
.lg-text{
    font-size: @font_size_M;
    line-height: @font_height_M;
    color: @subcolor;
}
.lg-subtext{
    font-size: @font_size_S;
    line-height: @font_height_S;
    color: @tipcolor;
}

/* 未整理 */
.lg-title-m{
    &:extend(.lg-title); 
    text-align: center;
    display: block; 
}
.lg-title-r{
    &:extend(.lg-title); 
    text-align: right; 
}
 
.lg-text-s{ 
    font-size: 14px;
    line-height: 18px;
    color: @tipcolor;
}
.lg-label{
    text-align: right;
    width: 100px; 
    display: inline-block;
    line-height: 30px;
}