.lg-breadcrumb {
    width: 100%;
    margin: 0;
    padding-left: (@gap/2);
    list-style: none;
    font-size: 14px;
    z-index: 1000;

    & > * {
        float: left;
        color: @color_text;
        display: tabel;

        &:before {
            content: ">";
            font-family: consolas;
            font-size: 18px;
            padding: 0 8px;
        }

        &:first-child {
            padding-left: 0;

            &:before { 
                display: none;
            }
        }

        &:last-child {
            padding-right: 0;
        }

        & > * {
            cursor: pointer;
            color: @color_text;
            line-height: 24px;
        }

        a:hover {
            color: @color_main;
        }
    }
}