.lg-m-con {
    background-color: @backcolor_l;
    border-top: 1px solid @bordercolor;
    border-bottom: 1px solid @bordercolor;
    padding: 0 10px;
    .lg-m-con-box {
        border-top: 1px solid @bordercolor;
        padding: 5px 0;
        &:first-child {
            border-top: none;
        }
        & > li {
            padding: 5px 0;
        }
        & >li> .lg-u-label {
            position: absolute;
        }
        .lg-m-con-group {
            line-height: 30px;
            label {
                color: @linkcolor;
                display: inline-block;
                line-height: 30px;
                margin: 0 5px;
                cursor: pointer;
            }
            span {
                margin-right: 5px;
            }
            input[type='radio']:checked+label,
            input[type='checkbox']:checked+label {
                color: @maincolor;
            }
        }
        .lg-u-label + .lg-m-con-group {
            margin-left: 100px;
        }
    }
    input[type='radio'],
    input[type='checkbox'] {
        display: none;
    }
}
