.lg-condition {
    padding: 0 16px;
    border-top: 1px solid @color_border;
    border-bottom: 1px solid @color_border;
    background-color: @color_bglight;
    font-size: 12px;
    margin-bottom:16px;
    .lg-condition-box, .lg-condition-block {
        border-top: 1px solid @color_border;
        padding: 10px 0;
        .lg-condition-cell{
            display:table-cell; 
            .lg-form-line,.lg-form-block,.lg-form-box{
                position:static;
                padding-left: 0; 
                & > label{
                    position:static;
                    height: 35px;
                    white-space: nowrap;
                }
            }
            &:first-child{
                text-align: right;
            }
            &:last-child{
                width: 100%;
            }
        }
        &:first-child {
            border-top: none;
        }
        & > li {
            padding: 5px 0;
        }
        & >li> .lg-label {
            position: absolute;
        }
        .wp-condition-group {
            line-height: 30px;
        }
        span {
            margin-right: 5px;
            color: @color_subtext;
        }
        label {
            text-align: right;
            line-height: 30px;
            width: 100px;
        }
        .lg-radio label,
        .lg-checkbox label,
        .lg-radio-plain label,
        .lg-checkbox-plain label { 
            display: inline-block;
            line-height: 30px;
            margin: 0 15px 0 5px;
            cursor: pointer;
        }
        .lg-radio input[type='radio']:checked+label,
        .lg-checkbox input[type='checkbox']:checked+label {
            color: @color_highlight;
            &:after {
                background-color: @color_highlight;
            }
            &:before {
                border-color: @color_highlight;
            }
        }
        .lg-checkbox input[type='checkbox']:checked+label:before {
            background-color: @color_highlight;
        }
        .lg-radio-plain input[type='radio']:checked+label,
        .lg-checkbox-plain input[type='checkbox']:checked+label {
            color: @color_highlight;
        }
        & *[class^='lg-btn'] {
            margin-top: 0;
            margin-bottom: 0;
        }
    }
}
