.lg-form-line,
.lg-form-block,
.lg-form-box {
    margin-top: 5px;
    padding-left: 100px;
    position: relative;
    min-height: 30px;
    label {
        width: 100px;
        position: absolute;
        top: 0;
        left: 0;
        line-height: 30px;
        text-align: right;
    }
    input + span {
        margin-right: 5px;
    }
    label + span {
        line-height: 30px;
        margin-left: 5px;
        display: inline-block;
    }
    & *[class^='lg-btn'] {
        margin-top: 0;
        margin-bottom: 0;
    }
    input[type='text'],
    select {
        margin-bottom: 5px;
    }

    span{
        word-break:break-all;
    }
}
