.wp-wrapper{
    background-color: @color_bg;
    width: 100%;
    height: 100%;
    overflow-x:hidden; 

    .head{
        width:100%;
        height: @navH; 
    }
    .content{
        background-color: @color_bg;
        position: absolute;
        top: @navH;
        right: 0;
        left: 0;
        bottom: 0;
        .content-left{
            background-color: @color_bglight;
            width: @menuW;
            height: 100%;
            position: absolute;
            border-right:1px solid #e1e1e1;
            & .lg-tree{
                border-right:none;
            } 
        }
        .content-right{
            background-color: @color_bg; 
            margin-left: @menuW; 
            height: 100%;
            overflow: auto;
            padding-left: 9px;
            padding-right: 9px; 
        } 
    } 
}

.wp-page{
    background-color: white;
    padding:6px;
    border-radius: 3px;
    min-height: 500px; 
    overflow: hidden;

    .page-head{
        clear: both;
        margin:0 10px;
        padding:5px 0;
        padding-top:0px;
        border-bottom:1px solid @color_sys;
        min-height: 40px;
        
    }
    .page-body{
        clear: both;
        margin:0 10px;
        .lg-condition .lg-btn{

        }  
    }
    .page-tail{
        clear: both;
        margin:0 10px; 
        padding:10px 0;
        border-top:1px solid @color_border;
    }
    .wp-blank{
        height: 10px;
        width: 100%;
        clear: both;
    }
}
 

 /* btn reset*/
.wp-wrapper .lg-btn:hover,.wp-wrapper .lg-btn-main:hover{
    background-color:#3E6BC5;
    border-color:#3E6BC5;
}
.wp-wrapper .lg-btn-o-main:hover,.wp-wrapper .lg-btn-o:hover{
    background-color:#F4F8FF;
    border-color:#3E6BC5; 
    color:#5986E1;
}