.wp-nav{
    height: 100%;
    background-color: @color_sys;
    .wp-nav-hd{
        width: @menuW + 20;
        height: 100%; 
        display: inline-block;
        position: relative;
        float: left;

        logo{
            width: 84px;
            height: 30px;
            margin-top:15px;
            margin-left: 20px;
            background-image: url('./logo.png'); 
            background-repeat: no-repeat;
            background-size: 100%;
            display: inline-block;
        }
        .wp-nav-title{
            color: white;   
            font-size: 12px;
            position: absolute;
            bottom: 15px; 
        }
    }
    .wp-nav-by{
        position: absolute;
        left: @menuW; 
        right: 50px;
        li{            
            line-height: @navH - 3;
            float: left;
            padding:0 20px; 
            color: @navTcolor;
            font-size: 16px;  
            border-bottom: 3px solid transparent;  
            a{ 
                cursor: pointer;
                color: @navTcolor; 
                display: block;
                line-height:  @navH + 13;
                height:  @navH - 3;
            } 
            &:hover,&.active,&.lg-fn-active{ 
                border-bottom: 3px solid @color_main; 
            }
                   
        }
    }
    .wp-nav-tl{
        display: none; 
        float: right;
        height: 100%;
        line-height: @navH;
        margin-right: 20px; 
        &:after{
            content: "\e633";
            font-family: "iconfont" !important;
            font-size: 22px;
            padding:0 5px;
            color: @navTcolor;
            cursor: pointer;
        }
        &.active:after{
            content: "\e63f";
        }
    }
    .wp-nav-bytab{
        display: none;
        z-index: 1001;
        position: absolute;
        top:@navH;
        right: 0;
        left: 0;
        min-height: @navH;
        padding: 10px 50px 10px @menuW; 
        background-color: rgba(70,78,120,0.8);

        li{
            float: left; 
            padding:0 10px;
            margin: 2px 10px;
            line-height: 36px;
            cursor: pointer; 
            &.active,&:hover{
                background-color: @color_main;
                border-radius: 3px;
            }
            a{
                color: @navTcolor;

            }
        }
    }
    .wp-nav-right{
        position: absolute;
        padding:10px;
        padding-top:22px;
        line-height: 28px;
        right: 0;
        &:before{
            content:url('./avatar.png');
        }
        & *{
            color: @navTcolor;
            font-size: 12px;
            float: right;
            padding-right: 3px;
            padding-left: 3px;
        }
        li:before{ 
            color: white;
            padding:0 5px;
        }
        li:last-child:before{
            content: '';
        }
    }
}