.wp-sidebar { 
    max-height: 100%;
    position: relative;
    background-color: @color_bglight;
    overflow-y: auto;
    overflow-x: hidden;
    ul {
        display: none;
    }
    a {
        cursor: pointer;
        position: relative;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding-right: 20px;
        border-bottom: 1px solid @color_bg;
        &:hover {
            background-color: @color_bg;
            color: @color_sys;
        }
        &:hover:before {
            color: @color_sys;
        }
        &:before {
            content: '\e648';
            font-family: "iconfont" !important;
            font-size: 14px;
            position: absolute;
            left: 20px;
            margin-top: -1px;
            color: @color_subtext;
        }
        &.active:before,
        &.lg-fn-active:before {
            content: '\e644';
            margin-top: -3px;
        }
        &.current,
        &.lg-fn-current {
            background-color: @color_bg;
            color: @color_sys;
        }
    }
    /* level 1*/
    & > ul {
        display: block;
        & > li {
            & > a {
                display: block;
                padding-left: 40px;
                line-height: 65px;
                color: @color_title;
                font-size: 16px;
            }
            /* level 2 */
            & > ul {
                & > li {
                    & > a {
                        display: block;
                        color: @color_text;
                        font-size: 14px;
                        padding-left: 55px;
                        height: 50px;
                        line-height: 50px;
                        &:before {
                            left: 36px;
                        }
                    }
                    /* level 3 */
                    & > ul {
                        & > li {
                            & > a {
                                display: block;
                                color: @color_text;
                                font-size: 14px;
                                padding-left: 66px;
                                height: 50px;
                                line-height: 50px;
                                &:before {
                                    left: 52px;
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .lg-fn-active,
    .active {
        &+ul {
            display: block;
        }
    }
    &::-webkit-scrollbar {
        border: 1px solid @color_border;
        border-top: none;
        border-bottom: none; 
        width: 8px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #c1c1c1;
        border-radius: 10px; 
    }
    &::-webkit-scrollbar-button:start:decrement,
    &::-webkit-scrollbar-button:end:increment,
    {
        display: block;
    }
    &::-webkit-scrollbar-button:end:decrement,
    &::-webkit-scrollbar-button:start:increment,
    {
        display: none;
    }
}

.wp-sidebar-hand {
    position: absolute;
    right: -12px;
    top:50%;
    line-height: 50px;
    height: 50px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: @color_main;
    cursor: pointer;
    &:after{        
        content: "\e62d";
        font-family: "iconfont" !important;
        font-size: 12px;
        color: white;
    }
    &.lg-fn-close:after{
        content: "\e66a";
    } 
}
